DoubleSpinBox {
    padding: 4px 11px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    border-bottom: 1px solid #D6D6D6;
    color: rgba(0, 0, 0, 0.90);

    font-family: "Open Sans";
    font-size: 14px;
}

DoubleSpinBox:hover {
    border-bottom: 1px solid #005FB8;
}

DoubleSpinBox:focus {
    border-bottom: 1px solid #005FB8;
}

DoubleSpinBox::up-button, DoubleSpinBox::down-button {
    border: none;
}
DoubleSpinBox::up-button:hover, DoubleSpinBox::down-button:hover {
    background-color: #EAEAEA;
}