#MetricsSelector {
    background-color: white;
    border: none;
    margin: 0px;
    padding: 0px;
}

#MetricsSelectorTitle {
    color: rgba(0, 0, 0, 0.90);
    margin-bottom: 4px;
}

#MetricsSelector QCheckBox {
    color: rgba(0, 0, 0, 0.90);
    background-color: transparent;
    padding: 4px 0px;
    margin: 0px;
    spacing: 8px;
}

#MetricsSelector QCheckBox:disabled {
    color: rgba(0, 0, 0, 0.40);
}

#MetricsSelector QCheckBox::indicator {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
}

#MetricsSelector QCheckBox::indicator:hover {
    border: 1px solid rgba(0, 0, 0, 0.20);
    background-color: rgba(0, 0, 0, 0.02);
}

#MetricsSelector QCheckBox::indicator:checked {
    background-color: #005FB8;
    border: 1px solid #005FB8;
}

#MetricsSelector QCheckBox::indicator:checked:hover {
    background-color: #003A70;
    border: 1px solid #003A70;
}

#MetricsSelector QCheckBox::indicator:disabled {
    background-color: #F3F3F3;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
