/* Стили для виджета отображения текущих метрик */

#MetricsDisplay {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    margin: 0px;
    padding: 0px;
}

#MetricsDisplayTitle {
    color: rgba(0, 0, 0, 0.90);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

#MetricsDisplay QLabel {
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}
