QWidget#VisualizationPanel {
    background-color: white;
    border-radius: 8px;
}

QGraphicsView {
    background-color: white;
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    outline: none;
}
